<section class="main-body">
    <div class="about-me row align-items-center">
        <h1 class="col-3">Fun Facts about me:</h1>
        <h3 id="display-head" class="col-9">I'm a <i>huge</i> nerd, I appreciate just about anything nerd culture
            (except for trading card
            games
            and MMORPGs, those
            are currently uncharted territory for me)</h3>
    </div>
    <h3 class="display-head align-items-start">Here are some of my favorite things:</h3>
    <div class="list-container">
        <ul class="row align-items-center justify-content-center">
            <div class="col-md-4 col-sm-12">
                <li>Favorite Anime: Mob Psycho 100</li>
                <img src="assets/imgs/mob-psycho-shy.gif" alt="mob-gif">
            </div>
            <div class="col-md-4 col-sm-12">
                <li>Favorite Manga: One Piece</li>
                <img src="assets/imgs/cheering-luffy.gif" alt="gomu-gomu-no-gif">
            </div>
            <div class="col-md-4 col-sm-12">
                <li>(Current) Favorite Video Game: Yakuza 0</li>
                <img src="assets/imgs/kiryu-disco.gif" alt="yaku-gif">
            </div>
        </ul>
    </div>
    <div class="list-container">
        <ul class="row align-items-center justify-content-center">
            <div class="col-md-4 col-sm-12">
                <li>Favorite Comic Book Character: Spider-Man</li>
                <img src="assets/imgs/pointing-spidey.gif" alt="spider-gif">
            </div>
            <div class="col-md-4 col-sm-12">
                <li>Favorite Movie: School of Rock </li>
                <img src="assets/imgs/jack-black-school-rock.gif" alt="school-of-gif">
            </div>
            <div class="col-md-4 col-sm-12">
                <li>Favorite Musical Artist: Gorillaz</li>
                <img src="assets/imgs/feel-good.gif" alt="gorilla-gif">
            </div>
        </ul>
    </div>
    <div class="list-container">
        <ul class="row align-items-center justify-content-start">
        </ul>
    </div>
</section>
