.main-body{
    margin-top: 50px;
    text-align: center;
}
.main-body li{
    list-style-type: none;
}

h3.display-head{
    margin: 10px 0;
}

.list-container img{
    width: 75%;
    height: 250px;
}