.main-body{
    margin-top: 50px;
    text-align: center;
}
.main-body li{
    list-style-type: none;
}

div.about-me{
    padding-top: 25px;
}

h3.display-head{
    margin-top: 40px;
}

.list-container img{
    width: 100%;
    max-width: 275px;
    height: 250px;
    border-radius: 5px;
}

// .about-me{
//     background-color: rgba(30, 100, 130, 0.5);
//     padding: 10px 0;
//     background-position-x: 50px left;
// }

.random-background{
    z-index: -1;
    background-color: rgba(30, 100, 130, 0.5);
    left: 0;
    max-height: 430px;
}
