<section>
    Most of the projects that I've worked on over the years, you can find on my GitHub Page! However, there are a few I
    am particularly proud of creating, and I wanted to showcase them here!
    <div class="project">
        <div class="row align-items-center">
            <h2 class="col">My Dashboard:</h2>
            <img src="assets/imgs/xavi-dashboard.png" alt="xdash.png" class="col">
        </div>
        <div class="project-desc">
            <ul>
                <li>I Created a Dashboard recently as a project under TalentPath! This dashboard is built out of HTML5/CSS
                    and JavaScript, and utilizes multiple APIs to gather information such as
                    the weather, when the nearest MCU movie is, and a database API that allowed me to create a dynamic to-do
                    list from scratch whose information is saved entirely online!
                </li>
            </ul>
        </div>
    </div>
    <div class="project">

    </div>
</section>