<section>
    <h1>My Projects</h1>
    Most of the projects that I've worked on over the years, you can find on my GitHub Page! However, there are a few I
    am particularly proud of creating, and I wanted to showcase them here!
    <div class="project">
        <div class="row align-items-center justify-content-center">
            <div class="col random-background">
                <a href="https://xramirez.github.io/dashboard-starter/">My Dashboard</a>
            </div>
            <img src="assets/imgs/xavi-dashboard.png" alt="xdash.png" class="col">
        </div>
        <div class="project-desc">
            <ul>
                <li>I Created a Dashboard recently as a project under TalentPath! This dashboard is built out of
                    HTML5/CSS
                    and JavaScript, and utilizes multiple APIs to gather information such as
                    the weather, when the nearest MCU movie is, and a database API that allowed me to create a dynamic
                    to-do
                    list from scratch whose information is saved entirely online!
                </li>
            </ul>
        </div>
    </div>
    <div class="project">
        <div class="row align-items-center justify-content-center">
            <div class="col random-background">
                <a href="https://xramirez.github.io/Trivia/">My Trivia Game</a>
            </div>
            <img src="assets/imgs/trivia.gif" alt="xdash.png" class="col">
        </div>
        <div class="project-desc">
            <ul>
                <li>I created a Trivia Game under TalentPath as well! This trivia game is built as a project in Angular
                    with Typescript,
                    and is powered by the <a href="https://opentdb.com/">OpenTriviaDB</a> API, and its information is
                    saved with the <a href="https://m3o.com/">M3O Database</a> API! After
                    a game is completed, it stores a user's statistics and displays them in relation to other people who
                    have previously
                    played the game.
                </li>
            </ul>
        </div>
    </div>
    <div class="project">
        <div class="row align-items-center justify-content-center">
            <div class="col random-background">
                <a href="https://socketio-stocks.vercel.app/">Stocks.io</a>
            </div>
            <img src="assets/imgs/stonks.gif" alt="xdash.png" class="col">
        </div>
        <div class="project-desc">
            <ul>
                <li>One of my biggest projects, that was only created over the course of a week and a half! Created with <a href="https://github.com/ChaseFaggard">Chase Faggard</a>,
                    we created a Stock Display Dashboard in Angular! The dashboard communicates through a <a href="https://socket.io/">Socket.io</a> server, which creates randomized fake
                    stock data and feeds it to the dashboard, which displays the data in candlestick charts.
                </li>
            </ul>
        </div>
    </div>
</section>