.project div{
    margin-top: 25px;
}

h1{
    text-align: center;
}

section{
    margin-top: 25px;
}

.project {
    img{
        width: auto;
        max-width: 50%;
        height: auto;
        max-height: 600px;
    }
    .random-background {
        background-color: rgba(var(--port-color-rgb), 0.5);
        left: 0;
        max-height: 430px;
        width: auto;
        a {
            font-size: 40px;
            color: black;
            text-decoration: none;
            &:hover {
                color: var(--port-color)
            }
        }
    }
    .project-desc {
        font-size: 18px;
        a {
            text-decoration: none;
            color: var(--port-color);
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
