/* You can add global styles to this file, and also import other style files */
:root {
    --port-color: rgb(30, 100, 130);
    --port-color-rgb: 30, 100, 130;

    --port-color-light: rgb(106, 196, 235);
    --port-light-rgb: 106, 196, 235;
}