<section class="intro-body row align-items-center">
    <div class="random-background"></div>
    <div class="random-background-2"></div>
    <div id="carouselExampleSlidesOnly" class="carousel slide col-md-6 col-sm-12" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/imgs/prof-xavi.jpeg" data-interval=2000 class="d-block" alt="prof-xavi">
            </div>
            <div class="carousel-item">
                <img src="assets/imgs/happy-xavi.jpeg" data-interval=2000 class="d-block" alt="happy-xavi">
            </div>
            <div class="carousel-item">
                <img src="assets/imgs/prof-xavi-2.jpg" data-interval=2000 class="d-block" alt="prof-xavi-2">
            </div>
            <div class="carousel-item">
                <img src="assets/imgs/space-metal.jpeg" data-interval=2000 alt="space-metal" class="d-block">
            </div>
        </div>
    </div>
    <div class="text-container col-6">
        <h1>
            Hi! I'm Xavier
        </h1>
        <p>
            My full name is Xavier Ramirez, though I usually go by Xavi.<br><br>
            I graduated from the University of Houston in 2019 with a Bachelor's in Computer Science and a Minor in
            Mathematics. From August of
            2019 through March of 2021, I worked at a comic store, specifically Bedrock City Comic Company in
            Houston, Texas!<br><br> Recently, I left Bedrock City so I could hone my programming skills, I learned Web
            Development from the ground up, and
            now
            I'm a Frontend Developer with TalentPath!
            <br><br>
            Contact me at: <a href="mailto:xramirez@talentpath.com">xramirez@talentpath.com</a>
        </p>
    </div>
</section>
